<div class="legal">
    <h2 class="titulo-footer ocultar-nodesktop">Información legal</h2>
    <hr class="linea-horizontal ocultar-nodesktop">
    <NavLink href="/politica-de-privacidad" target="_self">
        <p>Política de privacidad</p>
    </NavLink>
    <NavLink href="/politica-de-cookies" target="_self">
        <p>Política de cookies</p>
    </NavLink>
    <NavLink href="/aviso-legal" target="_self">
        <p>Aviso legal</p>
    </NavLink>
    <NavLink href="/terminos-y-condiciones" target="_self">
        <p>Términos y condiciones</p>
    </NavLink>
</div>
<div class="navegacion-footer">
    <h2 class="titulo-footer ocultar-nodesktop">Navegación</h2>
    <hr class="linea-horizontal ocultar-nodesktop">
    <NavLink href="/blog" target="_self">
        <p>Este blog</p>
    </NavLink>
    <NavLink href="/sobre-mi" target="_self">
        <p>Sobre mí</p>
    </NavLink>
    <NavLink href="/contacto" target="_self">
        <p>Contacto</p>
    </NavLink>
    <NavLink href="/recursos" target="_self">
        <p>Recursos</p>
    </NavLink>
</div>
<div class="social-section">
    <div class="social-title titulo-footer">
        <h2>Sígueme en mis redes sociales</h2>
    </div>
    <div class="social-links">
        <a href="https://www.whatsapp.com/estafraseesparati" target="_blank">
            <img class="social-image"
                 src="images/whatsapp_color.svg" loading="lazy" alt="whatsapp_logo">
        </a>
        <a href="https://www.instagram.com/estafraseesparati" target="_blank">
            <img class="social-image"
                 src="images/instagram_color.svg" loading="lazy" alt="instagram_logo">
        </a>
        <a href="https://www.twitter.com/estafraseesparati" target="_blank">
            <img class="social-image"
                 src="images/x_blanco.svg" loading="lazy" alt="x_logo">
        </a>
    </div>
</div>