<div class="legal">
    <h2 class="titulo-footer ocultar-nodesktop">Información legal</h2>
    <hr class="linea-horizontal ocultar-nodesktop">
    <p>Política de privacidad</p>
    <p>Política de cookies</p>
    <p>Aviso legal</p>
    <p>Términos y condiciones</p>
</div>
<div class="navegacion-footer">
    <h2 class="titulo-footer ocultar-nodesktop">Navegación</h2>
    <hr class="linea-horizontal ocultar-nodesktop">
    <p>Este blog</p>
    <p>Sobre mí</p>
    <p>Contacto</p>
    <p>Recursos</p>
</div>
<div class="social-section">
    <div class="social-title titulo-footer">
        <h2>Sígueme en mis redes sociales</h2>
    </div>
    <div class="social-links">
        <a href="https://www.whatsapp.com/estafraseesparati">
            <img class="social-image"
                 src="images/whatsapp_color.svg" loading="lazy" alt="whatsapp_logo">
        </a>
        <a href="https://www.instagram.com/estafraseesparati">
            <img class="social-image"
                 src="images/instagram_color.svg" loading="lazy" alt="instagram_logo">
        </a>
        <a href="https://www.twitter.com/estafraseesparati">
            <img class="social-image"
                 src="images/x_blanco.svg" loading="lazy" alt="x_logo">
        </a>
    </div>
</div>