@inherits LayoutComponentBase

<header class="header">
    <NavMenu />
</header>
<main class="contenido">
@Body
</main>
<footer class="footer">
    <Footer />
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
