@implements IDisposable

<div class="contenedor-logo">
    <NavLink href="/" target="_self" @onclick="CerrarMenu">
        <img src="images/logo_blanco.webp" alt="logo" loading="eager">
    </NavLink>
</div>
<button @onclick="ToggleMenu" id="hamburger-menu" class="hamburger-menu">☰</button>
<div class="contenedor-navbar-ul">
    <ul class="navbar-ul-desktop">
        <NavLink href="/blog" target="_self">
            <li>Este blog</li>
        </NavLink>
        <NavLink href="/sobre-mi" target="_self">
            <li>Sobre mí</li>
        </NavLink>
        <NavLink href="/contacto" target="_self">
            <li>Contacto</li>
        </NavLink>
        <NavLink href="/recursos" target="_self">
            <li>Recursos</li>
        </NavLink>
    </ul>
    <ul class="navbar-ul-mobile" style="@EstiloMenu">
        <NavLink href="/blog" target="_self" @onclick="ToggleMenu">
            <li>Este blog</li>
        </NavLink>
        <NavLink href="/sobre-mi" target="_self" @onclick="ToggleMenu">
            <li>Sobre mí</li>
        </NavLink>
        <NavLink href="/contacto" target="_self" @onclick="ToggleMenu">
            <li>Contacto</li>
        </NavLink>
        <NavLink href="/recursos" target="_self" @onclick="ToggleMenu">
            <li>Recursos</li>
        </NavLink>
    </ul>
</div>


@code {
    private string? currentUrl;
    private bool MenuVisible = false;
    private string EstiloMenu => MenuVisible ? "display: flex;" : "display: none;";

    private void ToggleMenu()
    {
        MenuVisible = !MenuVisible;
    }

    private void CerrarMenu()
    {
        if (MenuVisible)
        {
            MenuVisible = false;
        }
    }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}