@page "/recursos"
@attribute [StreamRendering(true)]

<PageTitle>Recursos</PageTitle>

<div>
    <picture>
        <source media="(min-width: 1920px)" srcset="images/recursos_1920x1080.webp">
        <source media="(min-width: 1280px) and (max-width: 1919px)" srcset="images/recursos_1280x720.webp">
        <source media="(min-width: 1024px) and (max-width: 1279px) and (orientation: landscape)"
                srcset="images/recursos_1024x768.webp">
        <img src="images/recursos_1280x720.webp" alt="fondo_principal" loading="eager"
             class="fondo_principal imagenes">
    </picture>
</div>