@page "/Account/ForgotPasswordConfirmation"
@attribute [StreamRendering(true)]

<PageTitle>Confirmación de recuperación de contraseña</PageTitle>

<div class="aliceblue contenedor-registro error-login info-confirmacion-correo">
<h1>Confirmación de recuperación de contraseña</h1>
<p>
    Por favor, comprueba tu correo electrónico para recuperar tu contraseña.
</p>
</div>