@page "/Account/InvalidPasswordReset"

<PageTitle>Recuperación de contraseña inválida</PageTitle>
<div class="aliceblue contenedor-confirmacion-registro">
    <h1>Recuperación de contraseña inválida</h1>
    <p>
        En enlace de recuperación de contraseña no es válido.
    </p>
</div>
