@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using efept.Data
@using efept.Services

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IUsuarioService UsuarioService

<PageTitle>Registro</PageTitle>

<div class="aliceblue">
    

    <div class="contenedor-registro">
        <StatusMessage Message="@Message" />
        <EditForm class="contenedor-formulario-registro" Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <h1 class="titulo-registro">Registro</h1>
            <div class="contenedor-elemento-registro">
                <InputText @bind-Value="Input.UserName" aria-required="true" placeholder="Nombre" />
                <label for="username">Nombre</label>
                <ValidationMessage For="() => Input.UserName" />
            </div>
            <div class="contenedor-elemento-registro">
                <InputText @bind-Value="Input.Email" aria-required="true" placeholder="nombre@dominio.com" />
                <label for="email">Correo electrónico</label>
                <ValidationMessage For="() => Input.Email" />
            </div>
            <div class="contenedor-elemento-registro">
                <InputText type="password" @bind-Value="Input.Password" aria-required="true" placeholder="contraseña" />
                <label for="password">Contraseña</label>
                <ValidationMessage For="() => Input.Password" />
            </div>
            <div class="contenedor-elemento-registro">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" aria-required="true" placeholder="contraseña" />
                <label for="confirm-password">Confirma la contraseña</label>
                <ValidationMessage For="() => Input.ConfirmPassword" />
            </div>
            <button class="boton-registro" type="submit">Registrarme</button>
        </EditForm>
    </div>
</div>


@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();

        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }
        await UsuarioService.ModifyUserName(user, Input.UserName);
        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo(
                "Account/RegisterConfirmation",
                new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        }

        await SignInManager.SignInAsync(user, isPersistent: false);
        RedirectManager.RedirectTo(ReturnUrl);
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Es obligatorio establecer un correo electrónico")]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Es obligatorio establecer una contraseña")]
        [StringLength(100, ErrorMessage = "La contraseña debe tener al menos {2} caracteres y como máximo {1} caracteres.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "La contraseña y la confirmación de contraseña no coinciden.")]
        public string ConfirmPassword { get; set; } = "";

        [Required(ErrorMessage = "Es obligatorio establecer un nombre de usuario")]
        [Display(Name = "UserName")]
        public string UserName { get; set; } = "";
    }
}
