@page "/Account/RegisterConfirmation"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using efept.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirmación de registro</PageTitle>
<div class="aliceblue contenedor-confirmacion-registro">
    <h1>Confirmación de registro</h1>

    @if (statusMessage is null)
    {
        <p>Le hemos enviado un correo electrónico con un enlace de confirmación. Por favor, revise su correo electrónico.</p>
    }
    else
    {
        <p>@statusMessage</p>
    }
</div>

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error al encontrar el usuario para el correo electrónico especificado. Revise el correo electrónico introducido. Si el error persiste, póngase en contacto con el administrador del sitio web.";
        }
    }
}
