@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>
<div class="aliceblue contenedor-confirmacion-registro">
    <h1>Confirmación de recuperación de contraseña</h1>
    <p>
        Tu contraseña se ha reseteado. Por favor, inicia sesión.
    </p>
</div>