@page "/Account/ResetPasswordConfirmation"
@attribute [StreamRendering(true)]

<PageTitle>Confirmación de cambio de contraseña</PageTitle>
<div class="aliceblue contenedor-confirmacion-registro">
    <h1>Confirmación de cambio de contraseña</h1>
    <p>
        Tu contraseña se ha cambiado correctamente.
    </p>
</div>